body{
	font-family: sans-serif;
	background-color: #efefef;
}
h1{
	text-align: center;
	margin: 30px 0 50px;
	font-family: sans-serif;
}
.gallery{
	margin: 10px 50px;
}
.gallery img{
	padding: 5px;
	filter: grayscale(100%);
	transition: 1s;
}
.gallery img:hover{
	filter: grayscale(0%);
	transform: scale(1.1);
}